/**
*
* form.css
* @author- Arshath
* @date- 26/10/2022
*/
.primay-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 32px;
    color: #ffffff;
    border: none;
    background-color: #232323;
}
.btn-container {
    margin: 15px 0;
}