/**
*
* header.css
* @author- Arshath
* @date- 26/10/2022
*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
}
.header-container {
    justify-content: space-between;
    padding: 34px 16px;
}
.header-logo {
    font-size: 18px;
    font-family: "libre-baskervile";
}
.header-logo h2 {
    margin: 0;
}
.header-list {
    font-size: 14px;
    font-family: "DM sans",sans-serif;
    font-weight: 600;
    list-style-type: none;
    column-gap: 33px;
    margin: 0;
}
.header-list i {
    margin: 0 5px 0 0;
}